<!DOCTYPE html>
    <head lang="en">
        <link rel="stylesheet" href="vendors/bootstrap.min.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sisyphus Test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
            <div class="container"> 
                    <img src="img/sisyphus-cardlogo.png" alt="logo" height="auto" width="auto"> 
                  </div>
       
     <div class="container">
            
       
         <table class="table" width="auto" height="auto" >
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Track Name</th>
                    <th>Description</th>
                    <th>By:</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td><input class="form-control image_input" type="file" accept="image/*"></td>
                    <td><input class="form-control name_input"></td>
                    <td><input class="form-control description_input"></td>
                    <td><input class="form-control by_input"></td>
                    <td><button class="btn btn-primary add_track">Add</button></td>
                </tr>
            </thead>
            <tbody class="playList" >  </tbody>
            <tfoot>
                <tr>
                    <td>
                    <img src="img/_default_100.png" alt="">
                    </td>
                </tr>
            </tfoot>
         </table>
     </div>
   
        <script type="text/template" class="track_template">
            <td> <span class="image"><img  src="img/<%= image %>" alt="" height="100px" width="100px"></span></td>
            <td><span class="name"> <%= name %> </span></td>
            <td><span class="description"> <%= description %> </span></td>
            <td><span class="by"> <%= by %> </span></td>
            <td><button class="btn btn-warning edit_track">Edit</button> 
                <button class="btn btn-danger delete_track">Delete</button> 
                <button class="btn btn-success update_track" style="display:none">Update</button>
                <button class="btn btn-danger cancel" style="display:none">Cancel</button>
            </td> 

        </script>
        <script src="libs/lib.jquery.min.js"></script>
        <script src="libs/lib.underscore.js"></script>
        <script src="libs/lib.backbone.min.js"></script>
        <script src="scripts.js"></script>
        <script src="img"></script>
        
            
    </body>
</html>
