.header{
  
    text-align: center;
    background-color: rgb(77, 39, 39);
    
    
}

.footer{
    text-align: center;
    background-color: rgb(77, 39, 39);
}

.tableColor{
    background-color: black;
}